


















<div class="container">
    <h2>MainCategory</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New MainCategory</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>


                <th>
                    MainCategoryName
                </th>

                <th>
                    MainCategoryDes
                </th>
               
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">MainCategory</h4>
            </div>
            <div class="modal-body">
                <form>


                    <div class="form-group">

                        @Html.DropDownList("SuperCategoryID", new SelectList(ViewBag.SuperList, "SuperCategoryID", "SuperCategoryName"), "Please select", new { @id = "SuperCategoryID" })

                    </div>

                    @*<div class="form-group">

                        <input type="text" class="form-control" id="MainCategoryID" placeholder="MainCategoryID" />
                    </div>*@


                    <div class="form-group">
                        <label for="MainCategoryname">MainCategoryname</label>
                        <input type="text" class="form-control" id="MainCategoryname" placeholder="MainCategoryName" />
                    </div>
                    <div class="form-group">
                        <label for="MainCategoryDes">MainCategoryDes</label>
                        <input type="text" class="form-control" id="MainCategoryDes" placeholder="MainCategoryDes" />
                    </div>




                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddnewMain();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/maincategory.js"></script>
}